<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="eggTips.length > 0">
  <section class="egg-tips-container">
    <!-- Rubrik för tips -->
    <h2 class="tips-title">Tips</h2>

    <div class="tip-box">
      <!-- Pil för föregående tips -->
      <button
        (click)="eggTipNumberChange(-1)"
        class="tip-button {{lastTipButtonClass}}"
        [disabled]="eggTipNumber <= 0"
      >
        &#8592; <!-- Vänsterpil -->
      </button>

      <!-- Tips text -->
      <p class="tip-text">{{ eggTips[eggTipNumber].tip }}</p>

      <!-- Pil för nästa tips -->
      <button
        (click)="eggTipNumberChange(+1)"
        class="tip-button {{nextTipButtonClass}}"
        [disabled]="eggTipNumber >= eggTips.length - 1"
      >
        &#8594; <!-- Högerpil -->
      </button>
    </div>
  </section>
</div>

<div *ngIf="eggTips.length === 0 && !errorMessage">
  <p>Inga äggtips tillgängliga just nu.</p>
</div>

