<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="eggTips.length > 0">
  <section class="main_box">

    <button (click)="eggTipNumberChange(-1)" #lastTipButton class="box tip_Button">last</button>
    
    <p class="box tip_Text">{{ eggTips[eggTipNumber].tip }}</p>
    
    <button (click)="eggTipNumberChange(+1)" #nextTipButton class="box tip_Button">next</button>

  </section>
</div>

<div *ngIf="eggTips.length === 0 && !errorMessage">
  <p>Inga äggtips tillgängliga just nu.</p>
</div>
