/* Huvudcontainer för tips */
.egg-tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  background-color: #f4d68d;
  border-radius: 15px;

}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  justify-content: flex-start;
}

/* Rubrik för tips */
.tips-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  font-family: "Barriecito", sans-serif;
  text-decoration: underline;
}

/* Huvudcontainer för varje tips */
.tip-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  position: relative; /* Lägg till denna */
  min-height: 100px; /* Ger en definierad höjd */
}

/* Knapp (pil) för nästa och föregående */
.tip-button {
  font-size: 17px;
  padding: 10px;
  border: none;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease;
}

.tip-button:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
}

/* Texten för tips */
.tip-text {
  font-size: 18px;
  padding: 0 20px;
  text-align: center;
  max-width: 60%;
  margin: 0 auto 10px;
  flex-grow: 1;
}

.egg-man {
  height: 100px;
  width: auto;
  margin-left: 1rem;
  margin-right: 45px;
}

/* Responsiv design */
@media screen and (max-width: 600px) {
  .tip-button {
    font-size: 18px;
    padding: 8px;
  }

  .tip-text {
    font-size: 16px;
    max-width: 80%;
  }
}

/* Förbättring av disabled-styling */
.disabled {
  background-color: lightgrey;
  opacity: 0.5;
  cursor: not-allowed;
}
