<div *ngIf="eggRecipes.length > 0; else noRecipes">
  <div class="recipe-container">
    <h1>Veckans Recept</h1>
    <div *ngFor="let recipe of eggRecipes" class="recipe-card">
      <div class="recipe-card-header">
        <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" class="recipe-image" />
        <div class="recipe-info">
          <h2>{{ recipe.strMeal }}</h2>
          <div class="recipe-ingredients">
            <h3>Ingredienser:</h3>
            <ul>
              <!-- Visa endast de första 5 ingredienserna -->
              <li *ngFor="let ingredient of getShortIngredients(recipe)">
                {{ ingredient }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Extra ingredienser + instruktioner visas bara när showFullRecipe är true -->
      <div *ngIf="recipe.showFullRecipe" class="extra-recipe">
        <ul>
          <li *ngFor="let ingredient of getExtraIngredients(recipe)">
            {{ ingredient }}
          </li>
        </ul>
        <div class="recipe-description">
          <p>{{ recipe.strInstructions }}</p>
        </div>
      </div>

      <!-- Knapp för att visa mer/mindre -->
      <button *ngIf="!recipe.showFullRecipe" (click)="toggleRecipe(recipe)" class="toggle-button">

        <span *ngIf="!recipe.showFullRecipe">Visa mer ↓</span>
        <span *ngIf="recipe.showFullRecipe">Visa mindre ↑</span>
      </button>
    </div>
  </div>
</div>

<ng-template #noRecipes>
  <p>Inga recept hittades. Försök igen senare!</p>
</ng-template>


  