div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.buttons {
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}
p {
  font-size: 2rem;
  color: rgb(161, 161, 98);
}
img {
  width: auto;
  height: 200px;
}

.btn-start {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-pause {
  background-color: #dc3545;
}

.btn-reset {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}