<!--this is old cod the intaier component can be deleted-->

<section>
  <div>
    <p class="timeleft">{{ formatTime(timeLeft()) }}</p>
    <p>{{ statusMessage() }}</p>
    <div class="egg-container">
      <img
        class="hen"
        [style.transform]="henPosition()"
        src="/pictures/hen.jpg"
      />
      <img class="egg" src="/pictures/bild.png" />
    </div>
  </div>
  <div class="buttons">
    <button
      (click)="toggleTimer()"
      [class.btn-pause]="timerisRunning"
      class="btn-start"
    >
      {{ timerisRunning ? "Pausa" : "Starta" }}
    </button>
    <button (click)="resetTimer()" class="btn-reset">Återställ</button>
  </div>
</section>
