<app-finished-egg-tips 
  *ngIf="showFinishedTips" 
  (close)="showFinishedTips = false"
></app-finished-egg-tips>


<img class="bakgrund" src="/pictures/bakgrund.png" />
<div class="container">
  <h1>Eggspert</h1>

  <!-- MOBIL 3 OPTIONS -->
  <div class="button-group">

    <div class="egg-option">
      <button class="icon-button" (click)="toggleSelection('eggCount')">
        <img
          class="egg-selection"
          [src]="
            selectedOptions['eggCount']
              ? '/pictures/' + selectedOptions['eggCount']
              : '/pictures/eggamount.png'
          "
          alt="Antal Ägg"
        />
      </button>
      <p>Antal ägg</p>
    </div>


    <div class="egg-option">
      <button class="icon-button" (click)="toggleSelection('sizes')">
        <img
          class="egg-selection"
          [src]="
            '/pictures/' +
            (selectedOptions['sizes']
              ? getSizeImageName(selectedOptions['sizes'])
              : 'eggsize.png')
          "
          alt="Storlek"
        />
      </button>
      <p>Storlek</p>
    </div>
    <div class="egg-option">
      <button class="icon-button" (click)="toggleSelection('consistency')">
        <img
          class="egg-selection"
          [src]="
            '/pictures/' +
            (selectedOptions['consistency']
              ? getConcistencyImageName(selectedOptions['consistency'])
              : 'konsistens.png')
          "
          alt="Konsistens"
        />
      </button>
      <p>Konsistens</p>
    </div>
    <div class="egg-option">
      <button class="icon-button" (click)="toggleSelection('temperature')">
        <img
          class="egg-selection"
          [src]="
            '/pictures/' +
            (selectedOptions['temperature']
              ? getTemperatureImageName(selectedOptions['temperature'])
              : 'temp.png')
          "
          alt="Temperatur"
        />
      </button>
      <p>Temperatur</p>
    </div>

  </div>

  <!-- MOBIL SUBOPTIONS -->

  <!-- För storlekar -->
  <div *ngIf="selectedCategory === 'sizes'" class="options">
    <div
      *ngFor="let size of sizes"
      class="egg-option"
      [class.selected]="selectedOptions['sizes'] === size"
      (click)="selectEggOption('sizes', size)"
      (mouseenter)="hoveredSize = size"
      (mouseleave)="hoveredSize = null"
    >
      <img
        [src]="'/pictures/' + getSizeImageName(size, hoveredSize === size)"
        [alt]="size"
        class="egg-selection"
      />
    </div>
  </div>

  <!-- För konsistens -->
  <div *ngIf="selectedCategory === 'consistency'" class="options">
    <div
      *ngFor="let consistency of consistencies"
      class="egg-option"
      [class.selected]="selectedOptions['consistency'] === consistency"
      (click)="selectEggOption('consistency', consistency)"
      (mouseenter)="hoveredConsistency = consistency"
      (mouseleave)="hoveredConsistency = null"
    >
      <img
        [src]="
          '/pictures/' +
          getConcistencyImageName(
            consistency,
            hoveredConsistency === consistency
          )
        "
        [alt]="consistency"
        class="egg-selection"
      />
      {{ consistency }}
    </div>
  </div>

  <!-- För temperatur -->
  <div *ngIf="selectedCategory === 'temperature'" class="options">
    <div
      *ngFor="let temp of temperatures"
      class="egg-option"
      [class.selected]="selectedOptions['temperature'] === temp"
      (click)="selectEggOption('temperature', temp)"
      (mouseenter)="hoveredTemp = temp"
      (mouseleave)="hoveredTemp = null"
    >
      <img
        [src]="
          '/pictures/' + getTemperatureImageName(temp, hoveredTemp === temp)
        "
        [alt]="temp"
        class="egg-selection"
      />

      {{ temp }}
    </div>
  </div>

  <!-- För antal ägg -->
  <div *ngIf="selectedCategory === 'eggCount'" class="options row-options">
    <div
      *ngFor="let count of [1, 2]"
      class="egg-option"
      [class.selected]="selectedOptions['eggCount'] === 'egg' + count + '.png'"
      (click)="selectEggOption('eggCount', 'egg' + count + '.png')"
    >
      <img
        [src]="'/pictures/egg' + count + '.png'"
        alt="Ägg {{ count }}"
        class="egg-selection"
      />
    </div>
  </div>

  <!-- MOBIL ÄGGCONTAINER -->

  <div class="yolk-container">
    <div
      class="yolk-progress"
      [style.--progress]="(1 - currentTimeLeft() / targetTime) * 100"
    ></div>
    <p class="status-message" [innerHTML]="statusMessage()"></p>

    <div (click)="toggleTimer()">
      <img class="egg" src="/pictures/äggform2.png" />

      <img class="eggYolk" src="/pictures/eggYolk.png" />

      <p class="timeLeft">{{ formatTime(currentTimeLeft()) }}</p>
      <span class="egg-text">{{
        timerisRunning ? "Nollställ" : "Starta"
      }}</span>
    </div>
    <img class="curve-text" src="/pictures/curve-text.png" />
  </div>
</div>

<!-- DESKTOP OPTIONS ------------------------------------------------------------------------------------------------->

<div class="egg-timer-layout">
  <!-- Vänstra sektionen (Val av storlek, konsistens, temperatur) -->
  <div class="egg-options-panel">

    <div class="title-with-icon">
      <img class="eggSize" src="/pictures/eggsize.png" alt="Äggstorlek" />
      <h2>Äggstorlek</h2>
    </div>    

    <div class="egg-size-options">
      <div
        *ngFor="let size of sizes"
        class="egg-option"
        [class.selected]="selectedOptions['sizes'] === size"
        (click)="selectEggOption('sizes', size)"
        (mouseenter)="hoveredSize = size"
        (mouseleave)="hoveredSize = null"
      >
        <img
          [src]="'/pictures/' + getSizeImageName(size, hoveredSize === size)"
          [alt]="size"
          class="egg-selection"
        />
      </div>
    </div>

    <div class="title-with-icon">
      <img class="eggTemp" src="/pictures/temp.png" alt="Äggstorlek" />
      <h2>Äggtemperatur</h2>
    </div> 

    <div class="egg-temperature-options">
      <button
        class="egg-temperature"
        [class.selected]="selectedOptions['temperature'] === 'Kylskåpskallt'"
        [class.hovered]="
          hoveredTemp === 'Kylskåpskallt' &&
          selectedOptions['temperature'] !== 'Kylskåpskallt'
        "
        (click)="selectEggOption('temperature', 'Kylskåpskallt')"
        (mouseenter)="hoveredTemp = 'Kylskåpskallt'"
        (mouseleave)="hoveredTemp = null"
      >
        Kylskåpskallt
      </button>
      <button
        class="egg-temperature"
        [class.selected]="selectedOptions['temperature'] === 'Rumstempererat'"
        [class.hovered]="
          hoveredTemp === 'Rumstempererat' &&
          selectedOptions['temperature'] !== 'Rumstempererat'
        "
        (click)="selectEggOption('temperature', 'Rumstempererat')"
        (mouseenter)="hoveredTemp = 'Rumstempererat'"
        (mouseleave)="hoveredTemp = null"
      >
        Rumstemperatur
      </button>
    </div>

    <div class="title-with-icon">
      <img class="eggCon" src="/pictures/konsistens.png" alt="Äggstorlek" />
      <h2>ÄggKonsistens</h2>
    </div> 
    <div class="egg-consistency-options">
      <div
        *ngFor="let consistency of consistencies"
        class="egg-option"
        [class.selected]="selectedOptions['consistency'] === consistency"
        (click)="selectEggOption('consistency', consistency)"
        (mouseenter)="hoveredConsistency = consistency"
        (mouseleave)="hoveredConsistency = null"
      >
        <img
          [src]="
            '/pictures/' +
            getConcistencyImageName(
              consistency,
              hoveredConsistency === consistency
            )
          "
          [alt]="consistency"
          class="egg-selection"
        />
        {{ consistency }}
      </div>
    </div>

    <div class="egg-count-container">
      <label for="eggCountSelect">Antal ägg:</label>
      <select
        id="eggCountSelect"
        class="egg-count-select"
        [(ngModel)]="eggCount"
        (change)="onEggCountChange()"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <!-- DESKTOP ÄGGCONTAINER -->

  <!-- Höger timer och äggbild-->
  <div class="egg-timer-display">
    <div class="yolk-container">
      <div
        class="yolk-progress"
        [style.--progress]="(1 - currentTimeLeft() / targetTime) * 100"
      ></div>
      <img class="egg-backround" src="/pictures/bakgrund.png" />
      <div class="egg-container">
        <img class="egg" src="/pictures/äggform2.png" />
        <img
          class="eggYolk"
          src="/pictures/eggYolk.png"
          (click)="toggleTimer()"
        />
        <p class="timeLeft">{{ formatTime(currentTimeLeft()) }}</p>
        <span class="egg-text">{{
          timerisRunning ? "Nollställ" : "Starta"
        }}</span>
      </div>
      <img class="curve-text" src="/pictures/curve-text.png" />
    </div>
  </div>
  <div class="egg-tips">
    <app-egg-tips />
  </div>
</div>
