<div class="container">
  <img class="bakgrund" src="/pictures/bakgrund.png" />

  <h1>Eggspert</h1>

  <div class="button-group">
    <div class="egg-option">
      <img
        class="egg-selectionOne"
        src="/pictures/eggsize.png"
        (click)="toggleSelection('sizes')"
      />
      <p>Storlek</p>
    </div>
    <div class="egg-option">
      <img
        class="egg-selectionTwo"
        src="/pictures/konsistens.png"
        (click)="toggleSelection('consistency')"
      />
      <p>Konsistens</p>
    </div>
    <div class="egg-option">
      <img
        class="egg-selectionThree"
        src="/pictures/temp.png"
        (click)="toggleSelection('temperature')"
      />
      <p>Temperatur</p>
    </div>
  </div>

        <!-- MOBIL 3 OPTIONS -->

  <!-- För storlekar -->
  <div *ngIf="selectedCategory === 'sizes'" class="options">
    <div
      *ngFor="let size of sizes"
      class="egg-option"
      [class.selected]="selectedOptions['sizes'] === size"
      (click)="selectEggOption('sizes', size)"
    >
      <img
        [src]="'/pictures/' + getSizeImageName(size)"
        [alt]="size"
        class="egg-selection"
      />
    </div>
  </div>

  <!-- För konsistens -->
  <div *ngIf="selectedCategory === 'consistency'" class="options">
    <div
      *ngFor="let consistency of consistencies"
      class="egg-option"
      [class.selected]="selectedOptions['consistency'] === consistency"
      (click)="selectEggOption('consistency', consistency)"
    >
      <img
        [src]="'/pictures/' + getConcistencyImageName(consistency)"
        [alt]="consistency"
        class="egg-selection"
      />
      {{ consistency }}
    </div>
  </div>

  <!-- För temperatur -->
  <div *ngIf="selectedCategory === 'temperature'" class="options">
    <button
      *ngFor="let temp of temperatures"
      [class.selected]="selectedOptions['temperature'] === temp"
      (click)="selectEggOption('temperature', temp)"
    >
      {{ temp }}
    </button>
  </div>

            <!-- MOBIL SUBOPTIONS -->

  <div class="yolk-container">
    <p class="timeLeft">{{ formatTime(timeLeft()) }}</p>
    <div class="egg-count">
      <label for="eggCount" class="egg-label">Antal ägg:</label>
      <input
        type="number"
        id="eggCount"
        [(ngModel)]="eggCount"
        min="1"
        max="10"
        (change)="onEggCountChange()"
      />
    </div>
    <div
      class="yolk-progress"
      [style.--progress]="(1 - timeLeft() / targetTime) * 100"
    ></div>
    <p class="status-message" [innerHTML]="statusMessage()"></p>

    <div class="egg-container" (click)="toggleTimer()">
      <img class="egg" src="/pictures/äggform2.png" />

      <img class="eggYolk" src="/pictures/eggYolk.png" />
      <span class="egg-text">{{ timerisRunning ? "Stop" : "Starta" }}</span>
    </div>
  </div>
</div>

<!-- MOBIL ÄGGBILD -->

  <!-- DESKTOP SIZES OPTIONS -->

    
<div class="egg-timer-layout">
  <!-- Vänstra sektionen (Val av storlek, konsistens, temperatur) -->
  <div class="egg-options-panel">
    <h2>Äggstorlek</h2>
    <div class="egg-size-options">
      <div
        *ngFor="let size of sizes"
        class="egg-option"
        (click)="selectEggOption('sizes', size)"
      >
        <img
          [src]="'/pictures/' + getSizeImageName(size)"
          [alt]="size"
          class="egg-selection"
        />
      </div>
    </div>

    <h2>Äggkonsistens</h2>
    <div class="egg-consistency-options">
      <div
        *ngFor="let consistency of consistencies"
        (click)="selectEggOption('consistency', consistency)"
      >
        <img
          [src]="'/pictures/' + getConcistencyImageName(consistency)"
          [alt]="consistencies"
          class="egg-selection"
        />
        <br />
        {{ consistency }}
      </div>
    </div>

    <h2>Äggtemperatur</h2>
    <div class="egg-temperature-options">
      <button class="egg-temperature" data-temp="cold">
        Direkt ur kylskåpet
      </button>
      <button class="egg-temperature" data-temp="room">Rumstemperatur</button>
    </div>

    <div class="egg-count-container">
      <label for="eggCountSelect">Antal ägg:</label>
      <select id="eggCountSelect" class="egg-count-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <!-- Höger timer och äggbild-->
  <div class="egg-timer-display">
    <p class="timeLeft">{{ formatTime(timeLeft()) }}</p>
    <div class="yolk-container">
      <div
        class="yolk-progress"
        [style.--progress]="(1 - timeLeft() / targetTime) * 100"
      ></div>
      <p class="status-message" [innerHTML]="statusMessage()"></p>
      <img class="egg" src="/pictures/äggform2.png" />
      <img class="eggYolk" src="/pictures/eggYolk.png" />

      <div class="buttons">
        <button
          (click)="toggleTimer()"
          [class.btn-pause]="timerisRunning"
          class="btn-start"
        >
          {{ timerisRunning ? "Pausa" : "Starta" }}
        </button>
        <button (click)="resetTimer()" class="btn-reset">Återställ</button>
      </div>
    </div>
  </div>
  <div class="egg-tips">
    <app-egg-tips />
  </div>
</div>
