@font-face {
  font-family: "Barriecito";
  src: url("/fonts/Barriecito.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Digital-7 ";
  src: url("/fonts/DigitalNumbers-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body, html {
  overflow-x: hidden; /* Förhindrar horisontell scroll */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  background-color: white; /* Fallback om bakgrundsbilden inte laddas */
}

.egg-timer-layout {
  display: none;
}
.container {
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

h1 {
  font-family: "Barriecito";
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0;
  color: #884d05;
  margin-top: -13px;
  margin-bottom: 6px;
}

.btn-reset {
  align-items: center;
}

.bakgrund {
  position: absolute;
  top: 0;
  left: 0px;
  width: 98vw;
  height: 101vh;
  object-fit: cover;
  z-index: -1; /* Lägg den bakom allt annat */
}

/* Grundläggande knappstil för ikoner */
.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer; /* Visar att det är en klickbar knapp */
  padding: 2px;
}

/* Tydlig visuell feedback på att knappen är klickad */
.icon-button:active {
  background-color: #f4a90c; /* Orange bakgrund när man klickar */
  transform: scale(1.05); /* Gör knappen något större när man trycker */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Lägger till en skugga för att markera tryckning */
  border-radius: 50%;
}

.options button {
  font-family: "Comfortaa", sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 0%;
}

.options button,
.egg-temperature {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.options button.hovered,
.egg-temperature.hovered {
  background-color: #f4a90c; /* Orange färg vid hover */
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options button.selected,
.egg-temperature.selected {
  background-color: #f49d11;
  transform: scale(0.95);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin: 20px auto;
  max-width: 89%;
  background-color: #f4d68d;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid black;
  top: 41%;
  left: 48%;
  transform: translate(-50%, -50%); /* Centrera */
  font-family: "Playpen Sans", sans-serif;
  z-index: 5;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 13px; /* Avstånd mellan bilderna */
  margin-bottom: 36px; /* Avstånd till nästa sektion */
  margin-left: -3px;
}

.egg-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80px; /* Fixar att alla får samma bredd */
}


.egg-selection {
  width: 60px;
  height: 82px;
  object-fit: contain;
  display: block;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.egg-selection p {
  font-size: 13px;
}

.egg-option img:hover {
  transform: scale(1.1); /* Gör bilden lite större */
  opacity: 1; /* Full opacitet vid hover */
}

.egg-option p {
  font-family: "Comfortaa", sans-serif;
  font-size: 13px;
  margin-top: -1px;
  color: #333;
}

.options .selected img {
  opacity: 1;
  transform: scale(1.1);
}

.egg-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 90%;
  right: 9%;
  margin: 0;
  transform: translate(-50%, -50%);
}

/* Antal ägg-text */
.egg-label {
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  color: #333; /* Anpassa färgen om det behövs */
  margin-bottom: 2px;
  margin-right: -56px;
}

.egg-count input {
  width: 50px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Comfortaa", sans-serif;
  margin-right: -56px;
  margin-bottom: -16px;
}

.egg-selection-display {
  font-size: 18px; /* Justera textstorlek */
  font-family: "Comfortaa", sans-serif;
  color: #000000; /* Sätt textfärgen */
  margin: 10px 0; /* Lägg till marginaler runt texten */
  padding: 5px; /* Lägg till padding om du vill att texten ska ha utrymme runt sig */
  text-align: center; /* Centrerar texten horisontellt */
  line-height: 1.6; /* Öka radavståndet för bättre läsbarhet */
  position: absolute;
  bottom: 60%; /* Placera texten en bit nedanför ägget */
  left: 50%;
  transform: translateX(-50%); /* Centrerar texten horisontellt */
  z-index: 2; /* Ser till att texten inte täcker andra viktiga element */

  display: flex;
  flex-direction: column; /* Gör så att texten organiseras i en kolumn */
  justify-content: center; /* Centrerar texten vertikalt inom sitt område */
  align-items: center; /* Centrerar texten horisontellt */
  text-align: center; /* För att säkerställa att texten centreras i varje rad */
}

/* Exempel på att göra texten fet för vissa delar */
.egg-selection-display span {
  font-weight: bold;
}

/* Timerknappar */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -24px;
}

button {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-weight: 200;
  z-index: 2;
}

.btn-start {
  background-color: white; /* Ändra bakgrundsfärg till vit */
  font-family: "Comfortaa", sans-serif;
  color: black;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.options button.selected,
.egg-temperature-options button.selected {
  background-color: #f49d11 !important;
}

.btn-start:hover,
.btn-reset:hover {
  background-color: #f49d11;
}

.btn-pause {
  background-color: rgb(255, 255, 255);
}

.btn-reset {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
}

/* Progressbar runt äggulan */
.yolk-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrerar innehållet vertikalt */
  width: 100%;
  margin-top: 10px; /* Skapar avstånd från övriga element */
}

.yolk-progress {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: conic-gradient(
    #c21414 0deg,
    #c21414 calc(var(--progress) * 3.6deg),
    #d9d9d9 calc(var(--progress) * 3.6deg)
  );
  z-index: 3;
}

.yolk-hole {
  position: absolute;
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.eggBackround {
  width: 200px; /* Ökar storleken lite */
  height: auto;
  position: relative;
  display: block;
  margin: 20px auto; /* Ger avstånd ovanför knapparna */
  z-index: 0; /* Ser till att den ligger under yolk-progress */
}

.egg-text {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: "Comfortaa", sans-serif;
  color: black;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
  pointer-events: none; /* Förhindrar att texten blockerar klick */
  z-index: 5;
}

.egg {
  width: 243px; /* Ökar storleken lite */
  height: auto;
  position: relative;
  display: block;
  margin: 20px auto; /* Ger avstånd ovanför knapparna */
  z-index: 1; /* Ser till att den ligger under yolk-progress */
  margin-top: -35px;
}

.eggYolk {
  position: absolute;
  width: 140px;
  height: 140px;
  background: transparent;
  border-radius: 50%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Grundlayout för timertext */
.timer-display {
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: bold;
}

.status-message {
  position: absolute;
  background-color: transparent;
  top: 10%;
  z-index: 0;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
}

.timeLeft {
  font-family: "Digital-7 ", sans-serif;
  font-size: 26px;
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 6;
  color: black;
  pointer-events: none; /* Så den inte stör klick på gulor */
}

.curve-text {
  position: absolute;
  top: 77%;
  left: 14%;
}

.boiling-text {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-family: "Comfortaa", sans-serif;
  color: black;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
  pointer-events: none; /* Förhindrar att texten blockerar klick */
  z-index: 5;
  font-weight: bold;
}

/* Layout för större skärmar*/
@media screen and (min-width: 768px) {
  .egg-timer-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fffaea;
    background-size: cover;
    height: 100%;
    font-family: "Comfortaa", sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container {
    display: none;
  }
  .egg-tips {
    display: flex;
    width: 20rem;
    height: 50rem;
    align-items: flex-start;
    z-index: 2;
  }

  .egg-temperature-options button.selected {
    background-color: #f49d11 !important;
  }

  .egg-temperature {
    padding: 10px 20px;
    font-size: 16px;
    white-space: nowrap;
    width: 48%;
    margin: 0;
  }

  .egg-temperature.hovered {
    transform: scale(1.03);
  }

  .egg-temperature.selected {
    transform: scale(0.98);
  }

  /* Vänster sektion: Val av storlek, konsistens och temperatur */

  .title-with-icon {
    display: flex;
    align-items: center;
    gap: 10px; /* avstånd mellan bild och text */
    margin-top: -24px;
  }
  
  .title-with-icon img.eggSize {
    width: 30px; /* justera storlek som passar bäst */
    height: auto;
  }

  .title-with-icon img.eggTemp {
    width: 30px; /* justera storlek som passar bäst */
    height: auto;
  }

  .title-with-icon img.eggCon {
    width: 30px; /* justera storlek som passar bäst */
    height: auto;
  }
  

  .eggSize {
    width: 50%;
    height: 50%;
  }

  /* För storleksalternativ */
.egg-size-options .egg-option:hover {
  background-color: rgba(244, 214, 141, 0.8); /* Ljusa upp bakgrunden vid hover */
  transform: scale(1.1); /* Gör ikonen större */
  border-radius: 10px; /* Lägg till rundade hörn */
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

/* För temperaturalternativ */
.egg-temperature-options button:hover {
  background-color: rgba(244, 157, 17, 0.8); /* En ljusare bakgrund när du hovrar över knapparna */
  transform: scale(1.05); /* Gör knappen något större */
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

/* För konsistensalternativ */
.egg-consistency-options .egg-option:hover {
  background-color: rgba(244, 214, 141, 0.8); /* Ljus bakgrund vid hover */
  transform: scale(1.1); /* Gör bilden större */
  border-radius: 10px; /* Rundade hörn */
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}


  .egg-options-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    border-radius: 15px;
    border-top-width: 0;
    width: 30%;
    font-family: "Comfortaa", sans-serif;
    outline: #333;
    z-index: 2;
  }

  /* Uppdaterade regler för temperaturknappar */
  .egg-temperature-options {
    display: flex;
    flex-direction: row; /* Ändrat från column till row */
    justify-content: center;
    gap: 20px;
    padding: 15px;
  }

  .egg-temperature-options button {
    padding: 18px 20px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 146px;
    margin: -3px;
    box-sizing: border-box;
  }

  .egg-count-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    background: #f4d68d;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 36px;
  }
  
  .egg-count-options .egg-option:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .egg-count-options .egg-option.selected {
    
    border-radius: 10px;
  }

  .title-with-icon img.eggCountIcon {
    width: 45px;  /* eller den storlek du vill ha */
    height: auto; /* håller proportionerna */
  }

  .title-with-icon img {
    width: 30px;
    height: auto;
  }
  

  /* Justera äggantal-input för desktop */
  .egg-count-select {
    width: 60px;
    height: 30px;
    font-size: 16px;
    text-align: center;
  }

  .egg-size-options,
  .egg-consistency-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    background: #f4d68d;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Skugga runt border */
    margin-bottom: 36px;
  }

  /* Uppdaterad regel för temperaturknappar */
  .egg-temperature-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #f4d68d;
    width: 85%;
    padding: 23px;
    border-radius: 10px;
    outline: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 36px;
  }

  .egg-size,
  .egg-consistency,
  .egg-temperature {
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Comfortaa", sans-serif;
  }

  /* Antal ägg */
  .egg-count-container {
    margin-top: 10px;
    outline: #333;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
  }

  .egg-count-select {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Comfortaa", sans-serif;
  }

  /* Höger sektion timer och äggbild */
  .egg-timer-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40rem;
  }

  .egg-timer-title {
    font-size: 50px;
    font-family: "Barriecito", cursive;
    color: #884d05;
  }
  .egglogo {
    height: 80px;
  }

  .status-message {
    position: absolute;
    background-color: transparent;
    top: 10%;
    z-index: 2;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
  }

  .timer-display {
    font-size: 32px;
    font-weight: bold;
  }

  .btn-start {
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    outline: #333;
  }
  .egg {
    width: 365px; /* Ökar storleken lite */
    height: 570px;
    position: relative;
    display: block;
    margin-top: 30px; /* Ger avstånd ovanför knapparna */
    z-index: 1; /* Ser till att den ligger under yolk-progress */
    top: 143px;
    left: 30px;
  }
  .eggYolk {
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    top: 89%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .egg-backround {
    position: absolute;
    width: 127%;
    height: 138%;
    background: transparent;
    top: 68%;
    left: 59%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .yolk-progress {
    position: absolute;
    width: 242px;
    height: 242px;
    top: 89%;
    left: 58%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: conic-gradient(
      #c21414 0deg,
      #c21414 calc(var(--progress) * 3.6deg),
      #d9d9d9 calc(var(--progress) * 3.6deg)
    );
    z-index: 3;
  }

  .egg-text {
    position: absolute;
    top: 96%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-family: "Comfortaa", sans-serif;
    color: black;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
    pointer-events: none; /* Förhindrar att texten blockerar klick */
    z-index: 5;
  }

  .timeLeft {
    top: 75%;
    left: 37%;
    font-size: 36px;
  }

  .curve-text {
    position: absolute;
  top: 100%;
  left: 21%;
  }
}
@media screen and (max-width: 1150px) {
  .egg-temperature-options button {
    font-size: 9px;
  }
}
