<header>
  <div class="desktop-container">
    <!-- Logga och titel på desktop -->
    <div class="loga" *ngIf="isDesktop">
      <!-- <img class="egglogo" src="/pictures/eggsize.png" /> -->
      <h1 class="egg-timer-title">Eggspert</h1>
    </div>

    <!-- Tillbaka-länk (desktop version) -->

    <!-- DESKTOP: Veckans recept-länk -->
    <div class="links" *ngIf="isDesktop">
      <a *ngIf="currentRoute !== '/recipe'" routerLink="/recipe">Recept🍳</a>
    </div>
  </div>

  <!-- MOBIL: Wrapper för back + recipe-länk -->
  <div class="mobile-header" *ngIf="!isDesktop">
    <!-- Tillbaka-länk på mobil (enbart på /recipe sidan) -->
    

    <!-- Veckans recept-länk på mobil (enbart på startsidan) -->
    <div *ngIf="currentRoute === '/'">
      <div class="mobile-recipe-link">
        <a routerLink="/recipe">Recept🍳</a>
      </div>
    </div>
  </div>
  <div *ngIf="currentRoute === '/recipe'" class="back-link">
      
    <img routerLink="/" src="/pictures/pil.png" class="pil-bild">
  </div>
  
</header>

<main>
  <router-outlet></router-outlet>
</main>


