header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}


a {
  color: inherit;         
  text-decoration: none;
  padding: 5px;
  border: 2px solid;
  border-color: black;
  border-radius: 50px;  
}

a:hover {
  background-color: rgb(161, 161, 98);
}
