<!--this is old cod the intaier component can be deleted-->

<div class="menu-container">
  <button class="hamburger-btn" (click)="toggleMenu()">☰</button>

  <div class="menu-overlay" *ngIf="menuOpen" (click)="closeMenu()">
    <nav class="menu-content" (click)="$event.stopPropagation()">
      <button class="closeButton" (click)="closeMenu()">×</button>
      
      <h2 class="menu-title">Meny</h2>
      
      <div class="menu-section">
        <a routerLink="" (click)="closeMenu()">Timer</a>
        <div class="menu-divider"></div>
        <a routerLink="recipe" (click)="closeMenu()">Veckans Recept</a>
      </div>

    </nav>
  </div>
</div>